@font-face {
    font-family: 'aileronregular';
    src: url('../font/aileron-regular-webfont.woff') format('woff2'),
        url('../font/aileron-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronbold';
    src: url('../font/aileron-bold-webfont.woff2') format('woff2'),
        url('../font/aileron-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'aileronsemibold';
    src: url('../font/aileron-semibold-webfont.woff2') format('woff2'),
        url('../font/aileron-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-size: normal;
}

p {
    font-family: 'aileronregular';
    font-size: 16px;
    line-height: 28px;

}

h1, h2, h3, h4, h5 {
    font-family: 'aileronsemibold';
}