#header {
	background: rgb(254, 226, 215);
	width: 80%;
	margin: auto;
	position: relative;
}

#topheader {
	background-image: linear-gradient(90deg,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);
	width: 100%;
	height: 30px;
}

#nav {
	position: absolute;
	
}

#banner {
	/*width: 75%;*/
	margin-left: 290px
}

#banner img {
	width: 100%;
}

#backtotop {
	position: fixed;
	right: 45px;
	bottom: 45px;
	font-size: 60px;
}

ul {
	background-color: black;
	width: 260px;
	padding: 0;
	margin: 0;

}

ul li {
	list-style-type: none;
	padding: 20px 0 20px 20px;
}

ul li a {
	text-decoration: none;
	font-family: Roboto-Regular;
	color: white;
}

ul li:hover a {
	color: red;
	
}
ul li:hover::after {
	color: red;
	float: right;
	font-family: 'FontAwesome';
	content:"\f105";
	margin-right: 10px;
}


/*@media only screen and (max-width: 1400px) {
	#banner {
		width: 72%;
	}
}

@media only screen and (max-width: 1250px) {
	#banner {
		width: 70%;
	}
}

@media only screen and (max-width: 1150px) {
	#banner {
		width: 68%;
	}
}*/